.user-detail-container {
  /* background: green; */
  height: 100vh;
  display: flex;
  flex-direction: row;
  padding: 50px;
  position: relative;
}
.user-detail-sidebar {
  border-radius: 20px;
  background: linear-gradient(to bottom, #3f56c8 59%, #5e3cc8 100%);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.user-detail-sidebar-sections {
  line-height: 40px;
  display: flex;
  flex-direction: column;
  padding: 0px 40px;
}
.user-detail-sidebar-section {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  border-bottom: 1px solid #979ae0;
  padding: 10px;
  width: 150px;
  font-size: 19px;
  display: flex;
  align-self: flex-start;
}
.user-detail-sidebar-section:hover {
  color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
}
.user-detail-sidebar-section:active {
  color: rgb(255, 255, 255) !important;
  cursor: pointer;
}

.user-detail-proile {
  /* background-color: red; */
  flex-grow: 0.85;
  margin: 0px 10px;
  border-radius: 20px;
}
.user-detail-proile-header {
  /* background-color: yellow; */
  height: 10vh;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}
.user-detail-proile-header-left {
  color: #545454;
  font-size: 20px;
}

.user-detail-proile-header-right {
  cursor: pointer;
  align-items: center;
  display: flex;
  position: relative;
}
.user-detail-proile-header-right-submenu {
  background-color: #ffffff;
  height: 60vh;
  width: 45vh;
  z-index: 9999;
  position: absolute;
  top: 90%;
  right: 0%;
  border-radius: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 20px gray;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s;
}
.user-detail-proile-header-right-submenu.open-menu {
  max-height: 60vh;
  line-height: 50px;
  overflow-y: scroll;
}
.user-detail-proile-header-right-submenu-users {
  align-items: center;
  display: flex;
  border-bottom: 1px solid lightgray;
}
.user-detail-proile-header-right-submenu-btn {
  border-radius: 20px;
  color: whitesmoke;
  font-size: 20px;
  font-weight: 500;
  padding: 10px;
  background-color: #d55151;
  margin-top: 25px;
  border: none;
  width: 15vh;
}

.user-detail-proile-container {
  display: flex;
}

.user-detail-proile-container-left {
  display: flex;
  flex-direction: column;
  height: 90vh;
  flex-grow: 0.3;
  border-right: 1px solid #9a9a9a;
}

.user-detail-proile-container-right {
  flex-grow: 0.7;
  height: 90vh;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 0px 0px 0px 60px;
}
.user-detail-proile-container-left-username {
  text-align: center;
  font-size: 20px;
  color: #545454;
  font-weight: 700;
  margin: 0px 10px;
}

.user-detail-proile-container-left-company-title {
  font-size: 22px;
  color: #9a9a9a;
  font-weight: 400;
  padding: 10px;
}

.user-logo-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-profile-details-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.key-name-submenu {
  font-size: 20px;
  color: #9a9a9a;
  font-weight: 400;
  text-align: end;
}
